{% extends 'base.html.twig' %}

{% block title %}RapportVisite{% endblock %}

{% block body %}
    <h1>RapportVisite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rapport_visite.id }}</td>
            </tr>
            <tr>
                <th>Bilan</th>
                <td>{{ rapport_visite.bilan }}</td>
            </tr>
            <tr>
                <th>DateVisite</th>
                <td>{{ rapport_visite.dateVisite }}</td>
            </tr>
            <tr>
                <th>DateRedactionRp</th>
                <td>{{ rapport_visite.dateRedactionRp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rapport_visite_index') }}">back to list</a>

    <a href="{{ path('app_rapport_visite_edit', {'id': rapport_visite.id}) }}">edit</a>

    {{ include('rapport_visite/_delete_form.html.twig') }}
{% endblock %}
