{% extends 'base.html.twig' %}

{% block title %}Medicament{% endblock %}

{% block body %}
    <h1>Medicament</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicament.id }}</td>
            </tr>
            <tr>
                <th>DepotLegal</th>
                <td>{{ medicament.depotLegal }}</td>
            </tr>
            <tr>
                <th>NomCommercial</th>
                <td>{{ medicament.nomCommercial }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ medicament.code }}</td>
            </tr>
            <tr>
                <th>Composition</th>
                <td>{{ medicament.composition }}</td>
            </tr>
            <tr>
                <th>EffetsIndesirable</th>
                <td>{{ medicament.effetsIndesirable }}</td>
            </tr>
            <tr>
                <th>ContreIndication</th>
                <td>{{ medicament.contreIndication }}</td>
            </tr>
            <tr>
                <th>PrixEchantillon</th>
                <td>{{ medicament.prixEchantillon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medicament_index') }}">back to list</a>

    <a href="{{ path('app_medicament_edit', {'id': medicament.id}) }}">edit</a>

    {{ include('medicament/_delete_form.html.twig') }}
{% endblock %}
